---
---
<div class="w-screen    ">
    <div id="contenedor" class="w-[800px] justify-evenly grid-cols-2 flex">
        <slot name="text1"></slot>  
        <slot name="text2"></slot>  
    </div>
</div>