---
---
<div>
    <slot name="imagen"></slot>
    <slot name="novedad"></slot>
    <slot name="modelo"></slot> 
    <slot name="tipo"></slot> 
    <slot name="color"></slot> 
    <slot name="precio"></slot> 
</div>